@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Laptop */
@media (min-width: 64em) {
  body {
    margin: 0rem 25rem;
  }
}

@theme {
  /* .. */
}